@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-sm: 321px;
    --breakpoint-md: 769px;
    --breakpoint-lg: 1025px;
    --breakpoint-xl: 1441px;
    --breakpoint-2xl: 1601px;

    --padding-elem: 16px;
    --padding-cnt: 20px;
    --gap-cnt: 20px;

    --width-sidebar: 256px;
    --margin-sidebar: 256px;

    --font-mono: Consolas, 'Courier New', monospace;
    /* https://maketintsandshades.com/#0090E7,8F5FE8 */
    /* https://dribbble.com/shots/25967158-Prop-Firms-Tech-Dashboard-Website-UI-UX-AdTrend */

    /* Light */
    --color-light-base-fg: #0090E7;
    --color-light-base-bg: #F9FAFB;

    --color-light-base-fg: #8F5FE8;
    --color-light-base-bg: #191C24;

    --color-light-base: #0090E7;
    --color-light-base-secondary: #26A1EB;
    --color-light-base-line: #314158;
    --color-light-base-line-secondary: #314158;
    --color-light-clear: #F9FAFB;
    --color-light-clear-secondary: #E2E8F0;
    --color-light-outline: #D1D5DC;

    --color-light-divider: #DEE2E6;

    --color-light-primary-base: #0090E7;
    --color-light-primary-base-hover: #26A1EB;
    --color-light-primary-base-line: #FFFFFF;

    --color-light-success-base: #00D25B;
    --color-light-success-base-hover: #26D974;
    --color-light-success-base-line: #FFFFFF;

    --color-light-danger-base: #FC424A;
    --color-light-danger-base-hover: #fC5E65;
    --color-light-danger-base-line: #FFFFFF;

    --color-light-warning-base: #FFAB00;
    --color-light-warning-base-hover: #FFB826;
    --color-light-warning-base-line: #FFFFFF;

    --color-light-secondary-base: #6C757D;
    --color-light-secondary-base-hover: #5C636A;
    --color-light-secondary-base-line: #FFFFFF;

    --color-light-default-base: #FFFFFF;
    --color-light-default-base-outline: #6c757d;
    --color-light-default-base-hover: #e9ecef;
    --color-light-default-base-line: #6A7282;
    --color-light-default-base-disabled: #dee2e6;

    --color-light-info-base: rgb(0, 144, 231);
    --color-light-info-base-line: #FFFFFF;

    --color-light-done-base: rgb(0, 210, 91);
    --color-light-done-base-line: #FFFFFF;

    --color-light-error-base: rgb(252, 66, 74);
    --color-light-error-base-line: #FFFFFF;

    --color-light-problem-base: rgb(255, 171, 0);
    --color-light-problem-base-line: #FFFFFF;

    /* Dark */
    --color-dark-base: #8F5FE8;
    --color-dark-base-secondary: #A077EB;
    --color-dark-base-line: #F8F8F9;
    --color-dark-base-line-secondary: #6C7293;
    --color-dark-clear: #191C24;
    --color-dark-clear-secondary: #0F1015;
    --color-dark-outline: #311B92;

    --color-dark-divider: #2C2E33;

    --color-dark-primary-base: rgba(143, 95, 232, 0.2);
    --color-dark-primary-base-hover: rgba(143, 95, 232, 0.5);
    --color-dark-primary-base-line: #8f5fe8;

    /* --color-dark-primary-base: rgba(0, 144, 231, 0.2);
    --color-dark-primary-base-hover: rgba(0, 144, 231, 0.5);
    --color-dark-primary-base-line: #0090E7; */

    --color-dark-success-base: rgba(0, 210, 91, 0.2);
    --color-dark-success-base-hover: rgba(0, 210, 91, 0.5);
    --color-dark-success-base-line: #00D25B;

    --color-dark-danger-base: rgba(252, 66, 74, 0.2);
    --color-dark-danger-base-hover: rgba(252, 66, 74, 0.5);
    --color-dark-danger-base-line: #FC424A;

    --color-dark-warning-base: rgba(255, 171, 0, 0.2);
    --color-dark-warning-base-hover: rgba(255, 171, 0, 0.5);
    --color-dark-warning-base-line: #FFAB00;

    --color-dark-secondary-base: rgba(228, 234, 236, 0.2);
    --color-dark-secondary-base-hover: rgba(228, 234, 236, 0.5);
    --color-dark-secondary-base-line: #FFFFFF;

    --color-dark-default-base: #1E2939;
    --color-dark-default-base-outline: #364153;
    --color-dark-default-base-hover: #364153;
    --color-dark-default-base-line: #99A1AF;

    --color-dark-info-base: rgba(143, 95, 232, 0.8);
    --color-dark-info-base-line: #FFFFFF;

    --color-dark-done-base: rgba(0, 210, 91, 0.8);
    --color-dark-done-base-line: #FFFFFF;

    --color-dark-error-base: rgba(252, 66, 74, 0.8);
    --color-dark-error-base-line: #FFFFFF;

    --color-dark-problem-base: rgba(255, 171, 0, 0.8);
    --color-dark-problem-base-line: #FFFFFF;

    --color-light-base-fg: #0090E7;
    --color-light-base-secondary-fg: #26A1EB;
    --color-light-base-bg: #F9FAFB;
    --color-light-base-secondary-bg: #E2E8F0;
    --color-light-base-trinity-bg: #DEE2E6;

    --color-dark-base-fg: #8F5FE8;
    --color-dark-base-secondary-fg: #A077EB;
    --color-dark-base-bg: #191C24;
    --color-dark-base-secondary-bg: #0F1015;
    --color-dark-base-trinity-bg: #2C2E33;

    --color-light-label-fg: #314158;
    --color-light-label-secondary-fg: #314158;
    --color-dark-label-fg: #6C7293;
    --color-dark-label-secondary-fg: #F8F8F9;

}

.color-main {
    @apply text-light-base-fg dark:text-dark-base-fg bg-light-base-bg dark:bg-dark-base-bg
}

.color-main-link {
    @apply text-light-base-fg dark:text-dark-base-fg bg-light-base-bg dark:bg-dark-base-bg hover:text-light-base-secondary-fg hover:dark:text-dark-base-secondary-fg
}

.color-main-secondary {
    @apply text-light-label-secondary-fg dark:text-dark-label-secondary-fg bg-light-base-secondary-bg dark:bg-dark-base-secondary-bg
}

.color-container {
    @apply text-light-label-secondary-fg dark:text-dark-label-secondary-fg bg-light-base-bg dark:bg-dark-base-bg
}

.color-dropdown {
    @apply text-light-base-fg dark:text-dark-base-fg bg-light-base-bg dark:bg-dark-base-bg border border-t-0 border-light-base-trinity-bg dark:border-dark-base-trinity-bg
}

.color-dropdown-item {
    @apply hover:bg-light-base-fg hover:dark:bg-dark-base-fg hover:text-light-base-bg hover:dark:text-dark-base-bg
}

.color-divider {
    @apply my-1 border-t border-light-base-trinity-bg dark:border-dark-base-trinity-bg
}

.color-table-header {
    @apply text-light-label-fg dark:text-dark-label-fg border-y-1 border-light-base-trinity-bg dark:border-dark-base-trinity-bg
}

.color-table-row {
    @apply border-b-1 border-light-base-trinity-bg dark:border-dark-base-trinity-bg
}

.color-table-hide-row {
    @apply border-l-1 border-light-base-trinity-bg dark:border-dark-base-trinity-bg
}

.color-button-main {
    @apply text-light-base dark:text-dark-base hover:text-light-base-secondary dark:hover:text-dark-base-secondary bg-light-outline dark:bg-dark-outline/30 border-light-outline dark:border-dark-outline/30 disabled:text-light-base-line disabled:dark:text-dark-base-line
}

.color-label {
    @apply text-light-label-fg dark:text-dark-label-fg
}

.color-label-link {
    @apply text-light-label-fg dark:text-dark-label-fg hover:text-light-label-secondary-fg hover:dark:text-dark-label-secondary-fg hover:bg-light-base-secondary-bg hover:dark:bg-dark-base-secondary-bg
}

.color-label-active-link {
    @apply text-light-label-secondary-fg dark:text-dark-label-secondary-fg bg-light-base-secondary-bg dark:bg-dark-base-secondary-bg
}

.color-label-secondary {
    @apply text-light-label-secondary-fg dark:text-dark-label-secondary-fg
}

.container-grid-4 {
    @apply p-cnt grid gap-cnt grid-cols-4
}

.container-rows {
    @apply p-cnt flex flex-row flex-wrap gap-cnt
}

.container-cols {
    @apply p-cnt flex flex-col gap-cnt
}

.form-input {
    @apply border px-3 py-2 text-sm text-light-base-line dark:text-dark-base-line placeholder-light-secondary-base dark:placeholder-dark-secondary-base-hover focus:border-light-base focus:dark:border-dark-base focus:outline-none focus:ring-1 focus:ring-light-base focus:dark:ring-dark-base
}

.form-input-normal {
    @apply border-light-outline dark:border-dark-outline
}

.form-input-error {
    @apply border-light-error-base dark:border-dark-error-base
}

.row-hidden-bullet {
    @apply absolute -translate-x-3 translate-y-2 w-2 h-2 bg-light-divider dark:bg-dark-divider rounded-full
}

.animate-fade-in-delay-1 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:0ms]
}

.animate-fade-in-delay-2 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:300ms]
}

.animate-fade-in-delay-3 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:600ms]
}

.animate-fade-in-delay-4 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:900ms]
}

.animate-fade-in {
    @apply animate-[fade-in_0.4s_ease-out_forwards]
}

.animate-fade-in-overlay {
    @apply animate-[fade-in-overlay_0.3s_ease-out_forwards]
}

.animate-fade-out {
    @apply animate-[fade-out_0.4s_ease-out_forwards]
}

.animate-fade-out-overlay {
    @apply animate-[fade-out-overlay_0.4s_ease-out_forwards]
}



/* 
.modal-primary {
    @apply bg-white dark:bg-zinc-900 text-black dark:text-white
}

.icon-primary {
    @apply text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-white;
} */

@layer utilities {
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(12px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-in-overlay {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(12px);
        }
    }

    @keyframes fade-out-overlay {
        0% {
            opacity: 0.9;
        }

        100% {
            opacity: 0;
        }
    }

    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #9ca3af transparent;
        /* light: gray-400 */

        /* WebKit (Chrome, Safari) */
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #9ca3af;
        /* light mode: gray-400 */
        border-radius: 4px;
    }

    .dark .custom-scrollbar {
        scrollbar-color: #374151 transparent;
        /* dark: gray-700 */
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #374151;
        /* dark: gray-700 */
    }
}