@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-tablet: 426px;
    --breakpoint-desktop: 1024px;
    --breakpoint-tv: 1441px;

    --spacing-additional: 8px;
    --spacing-element: 16px;
    --spacing-container: 20px;
    --spacing-modal: 24px;
    --spacing-dialog: 320px;
    --spacing-login: 360px;
    --spacing-sidebar: 256px;

    --radius-element: 12px;
    --radius-container: 16px;

    --font-weight-highlight: 600;
    --font-weight-subheader: 700;

    --z-index-base: 0;
    --z-index-layout: 10;
    --z-index-container: 20;
    --z-index-dropdown: 20;
    --z-index-dialog: 6000;

    --font-mono: Consolas, 'Courier New', monospace;

    /* https://maketintsandshades.com/#0090E7,8F5FE8 */
    /* https://dribbble.com/shots/25967158-Prop-Firms-Tech-Dashboard-Website-UI-UX-AdTrend */

    /*
    #8F5FE8 | purple
    #0090E7 | blue
    #39FF14 | green
    #00FFFF | blue
    #FF6B00 | purple
    #FF10F0 | pink
    #FFFF33 | yellow
    */
    --color-light-base-primary: #0090E7;
    --color-dark-base-primary: #FF10F0;

    --color-light-base-secondary: color-mix(in srgb, var(--color-light-base-primary) 85%, white);
    --color-light-base-trinity: #D1D5DC;
    --color-light-layout-primary: #F9FAFB;
    --color-light-layout-secondary: #E2E8F0;
    --color-light-layout-trinity: #DEE2E6;

    --color-dark-base-secondary: color-mix(in srgb, var(--color-dark-base-primary) 90%, white);
    --color-dark-base-trinity: color-mix(in srgb, var(--color-dark-base-primary) 50%, black);
    --color-dark-layout-primary: #191C24;
    --color-dark-layout-secondary: #0F1015;
    --color-dark-layout-trinity: #2C2E33;

    --color-light-label: #314158;
    --color-light-contrast: #314158;

    --color-dark-label: #6C7293;
    --color-dark-contrast: #F8F8F9;

    --color-light-primary-base: var(--color-light-base-primary);
    --color-light-primary-base-hover: color-mix(in srgb, var(--color-light-base-primary) 85%, white);
    --color-light-primary-base-line: #FFFFFF;

    --color-dark-primary-base: color-mix(in srgb, var(--color-dark-base-primary) 20%, transparent);
    --color-dark-primary-base-hover: color-mix(in srgb, var(--color-dark-base-primary) 50%, transparent);
    --color-dark-primary-base-line: var(--color-dark-base-primary);

    --color-light-success-base: #00D25B;
    --color-light-success-base-hover: color-mix(in srgb, var(--color-light-success-base) 85%, white);
    --color-light-success-base-line: #FFFFFF;

    --color-dark-success-base: color-mix(in srgb, var(--color-dark-success-base-line) 20%, transparent);
    --color-dark-success-base-hover: color-mix(in srgb, var(--color-dark-success-base-line) 50%, transparent);
    --color-dark-success-base-line: #00D25B;

    --color-light-danger-base: #FC424A;
    --color-light-danger-base-hover: color-mix(in srgb, var(--color-light-danger-base) 85%, white);
    --color-light-danger-base-line: #FFFFFF;

    --color-dark-danger-base: color-mix(in srgb, var(--color-dark-danger-base-line) 20%, transparent);
    --color-dark-danger-base-hover: color-mix(in srgb, var(--color-dark-danger-base-line) 50%, transparent);
    --color-dark-danger-base-line: #FC424A;

    --color-light-warning-base: #FFAB00;
    --color-light-warning-base-hover: color-mix(in srgb, var(--color-light-warning-base) 85%, white);
    --color-light-warning-base-line: #FFFFFF;

    --color-dark-warning-base: color-mix(in srgb, var(--color-dark-warning-base-line) 20%, transparent);
    --color-dark-warning-base-hover: color-mix(in srgb, var(--color-dark-warning-base-line) 50%, transparent);
    --color-dark-warning-base-line: #FFAB00;

    --color-light-secondary-base: #6C757D;
    --color-light-secondary-base-hover: color-mix(in srgb, var(--color-light-secondary-base) 85%, white);
    --color-light-secondary-base-line: #FFFFFF;

    --color-dark-secondary-base: color-mix(in srgb, var(--color-dark-secondary-base-line) 20%, transparent);
    --color-dark-secondary-base-hover: color-mix(in srgb, var(--color-dark-secondary-base-line) 50%, transparent);
    --color-dark-secondary-base-line: #FFFFFF;

    --color-light-default-base: #FFFFFF;
    --color-light-default-base-outline: #6c757d;
    --color-light-default-base-hover: #e9ecef;
    --color-light-default-base-line: #6A7282;
    --color-light-default-base-disabled: #dee2e6;

    --color-dark-default-base: #1E2939;
    --color-dark-default-base-outline: #364153;
    --color-dark-default-base-hover: #364153;
    --color-dark-default-base-line: #99A1AF;

    --color-light-info-base: var(--color-light-base-primary);
    --color-light-info-base-line: #FFFFFF;

    --color-dark-info-base: color-mix(in srgb, var(--color-dark-base-primary) 80%, transparent);
    --color-dark-info-base-line: #FFFFFF;

    --color-light-done-base: #00D25B;
    --color-light-done-base-line: #FFFFFF;

    --color-dark-done-base: color-mix(in srgb, #00D25B 80%, transparent);
    --color-dark-done-base-line: #FFFFFF;

    --color-light-error-base: #FC424A;
    --color-light-error-base-line: #FFFFFF;

    --color-dark-error-base: color-mix(in srgb, #FC424A 80%, transparent);
    --color-dark-error-base-line: #FFFFFF;

    --color-light-problem-base: #FFAB00;
    --color-light-problem-base-line: #FFFFFF;

    --color-dark-problem-base: color-mix(in srgb, #FFAB00 80%, transparent);
    --color-dark-problem-base-line: #FFFFFF;
}

/*Text Start*/
.text-logo {
    @apply font-bold text-3xl;
}

/*Text End*/

/*Button Start*/
.button-primary {
    @apply text-light-primary-base-line dark:text-dark-primary-base-line bg-light-primary-base dark:bg-dark-primary-base border-2 border-light-primary-base dark:border-dark-primary-base hover:bg-light-primary-base-hover hover:dark:bg-dark-primary-base/60 hover:border-light-primary-base-hover hover:dark:border-dark-primary-base-hover
}

.button-success {
    @apply text-light-success-base-line dark:text-dark-success-base-line bg-light-success-base dark:bg-dark-success-base border-2 border-light-success-base dark:border-dark-success-base hover:bg-light-success-base-hover hover:dark:bg-dark-success-base/60 hover:border-light-success-base-hover hover:dark:border-dark-success-base-hover
}

.button-danger {
    @apply text-light-danger-base-line dark:text-dark-danger-base-line bg-light-danger-base dark:bg-dark-danger-base border-2 border-light-danger-base dark:border-dark-danger-base hover:bg-light-danger-base-hover hover:dark:bg-dark-danger-base/60 hover:border-light-danger-base-hover hover:dark:border-dark-danger-base-hover
}

.button-warning {
    @apply text-light-warning-base-line dark:text-dark-warning-base-line bg-light-warning-base dark:bg-dark-warning-base border-2 border-light-warning-base dark:border-dark-warning-base hover:bg-light-warning-base-hover hover:dark:bg-dark-warning-base/60 hover:border-light-warning-base-hover hover:dark:border-dark-warning-base-hover
}

.button-secondary {
    @apply text-light-secondary-base-line dark:text-dark-secondary-base-line bg-light-secondary-base dark:bg-dark-secondary-base border-2 border-light-secondary-base dark:border-dark-secondary-base hover:bg-light-secondary-base-hover hover:dark:bg-dark-secondary-base/60 hover:border-light-secondary-base-hover hover:dark:border-dark-secondary-base-hover
}

/* .button-default {
    @apply text-light-default-base-line dark:text-dark-default-base-line bg-light-default-base dark:bg-dark-default-base border-1 border-light-default-base-outline dark:border-dark-default-base-outline hover:bg-light-default-base-hover hover:dark:bg-dark-default-base hover:bg-light-default-base-hover hover:dark:border-dark-default-base-hover
} */

/*Button End*/

/*Radio Start*/
.radio-inactive {
    @apply text-light-primary-base dark:text-dark-primary-base-line border-light-primary-base-hover dark:border-dark-primary-base-hover hover:text-light-primary-base-line hover:dark:text-dark-primary-base-line hover:bg-light-primary-base hover:dark:bg-dark-primary-base hover:border-light-primary-base-hover hover:dark:border-dark-primary-base-hover cursor-pointer
}

.radio-active {
    @apply text-light-primary-base-line dark:text-dark-primary-base-line bg-light-primary-base dark:bg-dark-primary-base border-light-primary-base-hover dark:border-dark-primary-base-hover cursor-default
}

/*Radio End*/

/*Toast Start*/
.toast-info {
    @apply text-light-info-base-line dark:text-dark-info-base-line bg-light-info-base dark:bg-dark-info-base
}

.toast-done {
    @apply text-light-done-base-line dark:text-dark-done-base-line bg-light-done-base dark:bg-dark-done-base
}

.toast-problem {
    @apply text-light-problem-base-line dark:text-dark-problem-base-line bg-light-problem-base dark:bg-dark-problem-base
}

.toast-error {
    @apply text-light-error-base-line dark:text-dark-error-base-line bg-light-error-base dark:bg-dark-error-base
}

/*Toast End*/

.color-main {
    @apply text-light-base-primary dark:text-dark-base-primary bg-light-layout-primary dark:bg-dark-layout-primary
}

.color-main-link {
    @apply text-light-base-primary dark:text-dark-base-primary bg-light-layout-primary dark:bg-dark-layout-primary hover:text-light-base-secondary hover:dark:text-dark-base-secondary
}

.color-main-secondary {
    @apply text-light-contrast dark:text-dark-contrast bg-light-layout-secondary dark:bg-dark-layout-secondary
}

.color-container {
    @apply text-light-contrast dark:text-dark-contrast bg-light-layout-primary dark:bg-dark-layout-primary
}

.border-container {
    @apply border-light-layout-primary dark:border-dark-layout-primary
}

.color-dropdown {
    @apply text-light-base-primary dark:text-dark-base-primary bg-light-layout-primary dark:bg-dark-layout-primary border border-t-0 border-light-layout-trinity dark:border-dark-layout-trinity
}

.color-dropdown-item {
    @apply hover:bg-light-base-primary hover:dark:bg-dark-base-primary hover:text-light-layout-primary hover:dark:text-dark-layout-primary
}

.color-divider {
    @apply my-1 border-t border-light-layout-trinity dark:border-dark-layout-trinity
}

.color-table-header {
    @apply text-light-label dark:text-dark-label border-b-4 border-light-layout-trinity dark:border-dark-layout-trinity
}

.color-table-row {
    @apply border-t-1 border-light-layout-trinity dark:border-dark-layout-trinity
}

.color-table-hide-row {
    @apply border-t-1 border-light-layout-trinity dark:border-dark-layout-trinity
}

.color-button-main {
    @apply text-light-base-primary dark:text-dark-base-primary hover:text-light-base-secondary dark:hover:text-dark-base-secondary bg-light-base-trinity dark:bg-dark-base-trinity/30 border-light-base-trinity dark:border-dark-base-trinity/30 disabled:text-light-label disabled:dark:text-dark-label
}

.color-label {
    @apply text-light-label dark:text-dark-label
}

.color-label-link {
    @apply text-light-label dark:text-dark-label hover:text-light-contrast hover:dark:text-dark-contrast hover:bg-light-layout-secondary hover:dark:bg-dark-layout-secondary
}

.color-label-active-link {
    @apply text-light-contrast dark:text-dark-contrast bg-light-layout-secondary dark:bg-dark-layout-secondary
}

.color-label-secondary {
    @apply text-light-contrast dark:text-dark-contrast
}

.background-color-outline {
    @apply bg-light-base-trinity dark:bg-dark-base-trinity
}

.color-value {
    @apply text-light-contrast dark:text-dark-contrast
}

/*Container Start*/
.container-grid-4-2-1 {
    @apply grid gap-container grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-4
}

.container-grid-3-2-1 {
    @apply grid gap-container grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3
}

.container-grid-2-2-1 {
    @apply grid gap-container grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-2
}

.column-span-2 {
    @apply col-span-1 tablet:col-span-2
}

.container-row {
    @apply flex flex-row flex-wrap gap-container
}

.container-row-column {
    @apply flex flex-col tablet:flex-row tablet:flex-wrap gap-container
}

.container-column {
    @apply flex flex-col gap-container
}

.container-card {
    @apply text-light-contrast dark:text-dark-contrast bg-light-layout-primary dark:bg-dark-layout-primary p-container rounded-container shadow-lg
    /* @apply color-container p-container rounded-container shadow-lg */
}

/*Container End*/
.form-input {
    @apply border px-3 py-2 text-sm text-light-contrast dark:text-dark-contrast placeholder-light-secondary-base dark:placeholder-dark-secondary-base-hover focus:border-light-base-primary focus:dark:border-dark-base-primary focus:outline-none focus:ring-1 focus:ring-light-base-primary focus:dark:ring-dark-base-primary
}

.form-input-normal {
    @apply border-light-base-trinity dark:border-dark-base-trinity
}

.form-input-error {
    @apply border-light-error-base dark:border-dark-error-base
}

.row-hidden-bullet {
    @apply absolute -translate-x-3 translate-y-2 w-2 h-2 bg-light-layout-trinity dark:bg-dark-layout-trinity rounded-full
}

.animate-fade-in-delay-1 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:0ms]
}

.animate-fade-in-delay-2 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:300ms]
}

.animate-fade-in-delay-3 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:600ms]
}

.animate-fade-in-delay-4 {
    @apply opacity-0 animate-[fade-in_0.8s_ease-out_forwards] [animation-delay:900ms]
}

.animate-fade-in {
    @apply animate-[fade-in_0.4s_ease-out_forwards]
}

.animate-fade-in-overlay {
    @apply animate-[fade-in-overlay_0.3s_ease-out_forwards]
}

.animate-fade-out {
    @apply animate-[fade-out_0.4s_ease-out_forwards]
}

.animate-fade-out-overlay {
    @apply animate-[fade-out-overlay_0.4s_ease-out_forwards]
}



/* 
.modal-primary {
    @apply bg-white dark:bg-zinc-900 text-black dark:text-white
}

.icon-primary {
    @apply text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-white;
} */

@layer utilities {
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(12px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-in-overlay {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(12px);
        }
    }

    @keyframes fade-out-overlay {
        0% {
            opacity: 0.9;
        }

        100% {
            opacity: 0;
        }
    }

    /* custom scrollbar start */
    /* * {
        scrollbar-gutter: stable both-edges;
    } */

    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #737373;
        border-radius: 8px;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        margin: 4px;
    }

    .dark *::-webkit-scrollbar-thumb {
        background-color: #a3a3a3;
    }

    @media (prefers-color-scheme: dark) {
        *::-webkit-scrollbar-thumb {
            background-color: #a3a3a3;
        }
    }

    /* custom scrollbar end */
}